.body {
    background: linear-gradient(#131316, #1C1C21);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1C1C21;
    color: white;
    flex-wrap: wrap;
}

.imagen-logo {
    width: 80px;
    padding: 10px;
    margin-left: 50px;
}

.navegador-primario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 13px;
}

.nav-inicio {
    padding: 10px;
    justify-content: flex-start;
}

.nav-inicio:hover {
    background-color: #2F3037;
}

.nav-estreno {
    padding: 10px;
}

.nav-estreno:hover {
    background-color: #2F3037;
}

.a-inicio,
.a-estreno,
.a-sobre-nosotros {
    padding: 10px;
    display: flex;
    align-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nav-sobre-nosotros {
    display: flex;
    align-content: center;
    padding: 10px;
}

.nav-sobre-nosotros:hover {
    background-color: #2F3037;
}


.navegador-secundario {
    display: flex;
    flex-direction: row;
    align-content: end;
}

.icono-login {
    width: 3em;
}

.busqueda {
    padding: 10px; 
}

.input-busqueda {
    width: 150px;
    height: 30px;
    border: solid 3px #5B5C62;
    margin-top: 7px;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.a-registrarse {
    padding: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.a-registrarse:hover {
    background-color: #2F3037;
}

.seccion-peliculas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 27em;
    background-color: #2F3037;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1em;
    margin: 5px;
}

.pelicula:hover {
    background-color: #1C1C21;
    transition: 0.1s;
    border: solid 3px #d9ddcd;
}


.imagen-peli {
    width: 8.5em;
}

.titulo-seccion-peliculas,
.h5-footer {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.1em;
    color: white;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 2em;
    font-weight: bold;

}

.h5-footer {
    font-size: 0.8em;
    margin-top: 3px;
    font-weight: normal;

}

.descripcion-peli {
    display: flex;
    font-size: 0.8em;
}

.titulo-pelicula {
    padding: 0.1em;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #131316;
    padding: 10px;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.imagen-contacto {
    width: 1.5em;
    height: 1.5em;
    margin: 0.4em;
}

.h5-footer {
    margin-top: 8px;
}

.main-login {
    width: 5em;
    margin: 5em;
}

#formBusqueda {
    background-color: #1C1C21;
    margin-right: 1em;
}

.form-group {
    color: white;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-crear-peli{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
    padding: 15px;
    align-items: center;
}

.titulo-form{
    text-align: center;
    margin: 20px;
    color: #5B5C62;
}

.titulo-estreno{
    text-align: center;
    margin: 20px;
    color: #5B5C62;
}

.btn{
    margin:8px;
}

.form-double-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width:25rem;
}

.form-double-column .form-group {
    width: 12rem;
}

.form-control.invalid {
    border: 1px solid red;
}

.seccion-sn {
    margin: 5px;
    text-align: center;
    color:#5B5C62;
}

.seccion-estreno{
    margin: 5px;
    text-align: center;
    color:#5B5C62;
}